<h2>Northwestern University Fluomics Team</h2>

<div class="row">
  <%= image_tag 'wolinsky.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Steven Wolinsky, MD</h3>
  Principal Investigator<br />
  <p style="clear:both;">Dr. Steven Wolinsky is a Professor of Medicine at Northwestern University. His research focuses on the evolutionary mechanisms underlying host—pathogen interactions, and their role in the emergence, spread, and containment of infectious diseases such as Influenza and HIV. His work seeks to understand how viral genetic variation, driven by host genetics and immunity, affects viral infection dynamics and epidemic behavior. This connection is central to the evolution of virulence and drug resistance, and to vaccine design.
</div>

<div class="row">
  <%= image_tag 'kim.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Eunyoung Kim, PhD</h3>
  Co-Investigator<br />
  <p class="pull-left" style="clear:both;">Dr. Eunyoung Kim is a Research Assistant Professor in Medicine-Infectious Diseases at Northwestern University. Her research focuses on molecular evolutionary mechanisms of viruses such as Influenza and HIV, antiretroviral drug resistance, susceptibility to viral infections and disease progression, and how host genetics and immunity affects the dynamics of viral infections.
</div>
 
<div class="row">
  <%= image_tag 'lorenzo-redondo.png', class: 'pull-left', style: 'padding:10px;clear:both;' %>
  <h3>Ramon Lorenzo-Redondo, PhD</h3>
  <p style="clear:both;">Dr. Ramon Lorenzo Redondo is a postdoctoral fellow at the Drucker Virology Research Laboratory of Northwestern University.
</div>
 
<div class="row">
  <%= image_tag 'penugonda.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Sudhir Penugonda, MD MPH</h3>
  <p style="clear:both;">Dr. Sudhir Penugonda is an Assistant Research Professor in Medicine-Infectious Diseases at Northwestern University.
</div>

<div class="row">
  <%= image_tag 'thomas.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Guajira Thomas, MD</h3>
  <p style="clear:both;">Dr. Guajira Thomas is an Infectious Diseases Fellow at Northwestern University.
</div>

<div class="row">
  <%= image_tag 'walker.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Ellie Walker, MD</h3>
  <p style="clear:both;">Dr. Ellie Walker is an Infectious Diseases Fellow at Northwestern University.
</div>
