<h2>What is Fluomics?</h2>

<p class="lead">MULTISCALE ANALYSIS OF INFLUENZA HOST-PATHOGEN INTERACTIONS (FLUOMICS) is a National Institute of Allergy and Infectious Diseases - funded genetics study of the influenza A virus-host interaction. Your medical information and blood sample will help us determine how your genes determine your capacity to fight the influenza A virus and which parts of the immune system is important in the disease. Through this research study, we hope to find new ways to prevent or treat this often serious, respiratory virus infection. Click here <%= link_to 'http://www.fluomics.org/' %> for more details.</p>

<h2>Learn more and enroll</h2>

<div class="row">
  <section class="widget">
    <%= link_to 'I am currently in a doctor’s office or in the hospital and my doctor is testing me for a respiratory infection', new_currently_ill_consent_path %>
  </section>
</div>

<div class="row">
  <section class="widget">
    <%= link_to 'I received a letter inviting me to participate in a Flu study because I a test that was positive for Influenza A virus within the past 10 years', new_previously_ill_consent_path %>
  </section>
</div>

<h2>Northwestern University Fluomics Team</h2>

<div class="row">
  <%= image_tag 'wolinsky.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Steven Wolinsky, MD</h3>
  Principal Investigator<br />
  <p style="clear:both;">Dr. Steven Wolinsky is a Professor of Medicine at Northwestern University. His research focuses on the evolutionary mechanisms underlying host—pathogen interactions, and their role in the emergence, spread, and containment of infectious diseases such as Influenza and HIV. His work seeks to understand how viral genetic variation, driven by host genetics and immunity, affects viral infection dynamics and epidemic behavior. This connection is central to the evolution of virulence and drug resistance, and to vaccine design.
</div>

<div class="row">
  <%= image_tag 'kim.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Eunyoung Kim, PhD</h3>
  Co-Investigator<br />
  <p class="pull-left" style="clear:both;">Dr. Eunyoung Kim is a Research Assistant Professor in Medicine-Infectious Diseases at Northwester University. Her research focuses on molecular evolutionary mechanisms of viruses such as Influenza and HIV, antiretroviral drug resistance, susceptibility to viral infections and disease progression, and how host genetics and immunity affects the dynamics of viral infections.
</div>
 
<div class="row">
  <%= image_tag 'lorenzo-redondo.png', class: 'pull-left', style: 'padding:10px;clear:both;' %>
  <h3>Ramon Lorenzo-Redondo, PhD</h3>
  <p style="clear:both;">Dr. Ramon Lorenzo Redondo is a postdoctoral fellow in Drucker Virology Research Laboratory of Northwestern University. 
</div>
 
<div class="row">
  <%= image_tag 'penugonda.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Sudhir Penugonda, MD MPH</h3>
  <p style="clear:both;">Dr. Sudhir Penugonda is an Assistant Research in Medicine-Infectious Diseases at Northwester University 
</div>

<div class="row">
  <%= image_tag 'thomas.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Guajira Thomas, MD</h3>
  <p style="clear:both;">Dr. Guajira Thomas is an Infectious Diseases Fellow at Northwestern University
</div>

<div class="row">
  <%= image_tag 'walker.png', class: 'pull-left', style: 'padding:10px;' %>
  <h3>Ellie Walker, MD</h3>
  <p style="clear:both;">Dr. Ellie Walker is an Infectious Diseases Fellow at Northwestern University
</div>
 
<h3>Questions? call 312.503.FLUA (3582)</h3>

<h3>Links</h3>
<div class="row">
  <section class="widget">
    <ul>
      <li><%= link_to 'http://www.nmh.org/nm/infectious-disease' %></li>
      <li><%= link_to 'http://www.fluomics.org/' %></li>
    </ul>
  </section>
</div>
