<h4>When would you like to schedule your blood draw?</h4>

<%= form_for @blood_draw_appointment, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <%= f.hidden_field :user_id %>
  <%= hidden_field_tag :token, @token %>
  <fieldset>
    <div class="form-group">
      <%= f.label :date, class: 'col-sm-2 control-label' %>
      <div class="col-xs-9">
        <%= f.text_field :date, class: 'datepicker', :'data-max-date' => "#{ Date.today + 2.months }T12:00", :'data-min-date' => "#{ Date.tomorrow }T12:00" %>
      </div>
    </div>
  </fieldset>

  <%= f.submit 'Submit', { class: 'btn btn-primary btn-large' } %>
<% end %>
