<%= simple_form_for @survey do |f| %>
  <% @survey.questions.order(:data_label).each do |q| %>
    <%= f.simple_fields_for :questions, q do |q_fields| %>
      <% if q.input_type == 'string' %>
        <%= q_fields.input :response_data, label: q.content, input_html: { style: 'width: 25%;' } %>
      <% else %>
        <div class="question">
          <%= q_fields.association :responses, collection: q.responses, as: q.input_type, label: q.content, label_method: :label, item_wrapper_class: 'btn', input_html: { checked: false }, wrapper_html: { :class => 'btn-group btn-group-vertical' } %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= f.button :submit, 'Submit', { class: 'btn-primary' } %>
<% end %>
