<div class="row">
  <div class="col-md-6">
    <h3 class="text text-warning">please read this document and scroll to the bottom of the page to indicate your consent</h3>

   <h1>
    <strong>Online Consent Form and Authorization for Research</strong>
</h1>
<p>
    <strong></strong>
</p>
<p>
    <strong>Title: </strong>
    Multiscale Analysis Of Influenza Host-Pathogen Interactions: Fluomics
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Principal Investigator:</strong>
    Steven Wolinsky, MD
</p>
<p>
    <strong>Supported by:</strong>
    National Institutes of Health (NIH)
</p>
    <section class="widget">
<p>
    <strong><u>Introduction</u></strong>
</p>
<p>
    You are being asked to take part in a research study. This document has important information about the reason for the study, what you will do if you
    choose to be in this research study, and the way we would like to use information about you and your health. <strong></strong>
</p>
<p>
    <strong> </strong>
</p>
<h2>
    What is the reason for doing this study?<em></em>
</h2>
<p>
    You are being asked to participate in an Influenza study because you may have Influenza. Influenza A virus infection causes significant disease burden in
    the United States and around the world. Your medical information and blood sample will help us determine how your genes and immune system interact with the
    Influenza A virus to fight disease. Through this research study, we hope to find new ways to treat and prevent this often serious, respiratory virus
    infection.
</p>
<p>
    <strong><u>What will you do if you choose to be in this study? </u></strong>
</p>
<p>
    Should you agree to participate, you will be asked to:
</p>
<ol start="1" type="1">
    <li>
        allow us to obtain approximately 20 ml (about 4 teaspoons) of blood from a vein in your arm. From this sample, we will be able to get DNA, which stores
        genetic information.
    </li>
</ol>
<p>
    and
</p>
<ol start="2" type="1">
    <li>
        allow us to review your medical records to obtain health information related to your influenza-like illness and your test result for Influenza.
    </li>
</ol>
<p>
    and
</p>
<p>
    3. allow us to analyze the influenza A virus you were infected with using stored samples
</p>
<p>
    4. if the test result is positive for the Influenza A virus, follow your symptoms through the use of your mobile phone. A link that will be sent to you via
    email will take you to a site designed specifically for this study. You will be asked to record your symptoms every day by selecting from the available
    options (such as fever, sore throat, headache). You will receive a daily reminder with the link. The last day of the study will be 14 days after your
    symptoms began. On that day, there is a final set of questions about any complications you may, or may not, have from the Flu. Your participation in this
    study will end at that point.
</p>
<p>
    or
</p>
<ol start="5" type="1">
    <li>
        if the test is negative for the Influenza A virus, your participation in this study will end. You will receive an email with a reminder to contact your
        physician to further discuss your laboratory results.
    </li>
</ol>
<p>
    Your blood sample will be sent to The Fred and A. Norman Drucker Laboratory for Virology Research located in Chicago, IL, which is overseen by Northwestern
    University. The only information we include with the sample is a unique identification number that will be generated when you agree to participate.
</p>
<p>
    <strong><u>Genetic research</u></strong>
</p>
<p>
    Should you agree, some of your genetic and health information might be placed into other scientific databases on the Internet that are maintained by the
    Federal government. Information that could directly identify you will never be placed into a scientific database. Researchers will study different sets of
    samples — some from people who have had a severe influenza-like illness and some from people who have not, in order to look for areas in your genome where
    the patterns of variation differ between these two groups. This information will give researchers a clue about those areas in your genome that might
    contain genes that affect the disease. They will use scientific databases to look at the genetic changes in those regions, to help figure out which genes
    might affect the disease. Researchers can then study how the genes work and eventually find better ways to prevent or treat infection with Influenza A
    virus.
</p>
<p>
    You should not expect to get individual genetic results from research with your sample. Researchers must study information and samples over many years
    before they can know if the results have meaning. We will not give the results to your doctor. We will not put them in your medical record.
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u>What are some of the possible risks and discomforts?</u> </strong>
</p>
<p>
    Your participation in this study may involve some risks.
</p>
<p>
    Risks of taking blood include fainting, a bruise at the point where the blood is taken, redness and swelling of the vein and infection.
</p>
<p>
    Your genetic information is unique to you; therefore, there is a small chance that someone could trace it back to you. We think the chance these things
    will happen is very small, but we cannot make guarantees. Your privacy and the confidentiality of your data are very important to us and we will make every
    effort to protect them. Federal privacy rules give safeguards for privacy, security, and authorized access.
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u>What are the Possible Benefits for Me or Others?</u></strong>
</p>
<p>
    You are not likely to have any direct benefit from being in this research study.
</p>
<p>
    The main reason you may want to take part is to help researchers find new ways to prevent and treat the illness and its’ complications.
</p>
<p>
    <strong><u>Are there any financial costs to being in this study</u>?<em></em></strong>
</p>
<p>
    Participation in this study will involve no cost to you.
</p>
<p>
    <strong><u>Blood samples stored for future research </u></strong>
</p>
<p>
    Allowing for the storage and future testing of your blood samples will involve no cost to you. Your sample will be used only for research and will not be
    sold. The research done with your blood sample may lead to the development of new products in the future. No compensation will be given to you now or in
    the future for the use of these samples.<strong></strong>
</p>
<p>
    <strong><u>If I have questions or concerns about this research study, whom can I call?</u></strong>
</p>
<p>
    If you have questions or concerns about this research study, you can call Steven Wolinsky, MD. He is the person in charge of this research study. You can
    call him at telephone number
</p>
<p>
    312-503-FLUA (3582).
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong><u>Will I receive payment for participation in this study? </u></strong>
</p>
<p>
You will receive an electronic $10.00 Target eGiftCard. It will be sent to you via email within one week after enrollment. [<strong>Target eGiftCards</strong> can be redeemed for merchandise at Target.com only. eGiftCard can be converted to    <strong>Target Mobile Gift Cards</strong> which can be redeemed for merchandise or services (excluding American Express<sup>®</sup> and Visa<sup>®</sup>
    gift cards and prepaid cards) at Target stores in the U.S. or Target.com. This gift cards will not expire, there is no activation fee].
</p>
<p>
    <strong><u>What are my rights as a research subject? </u></strong>
</p>
<p>
    If you choose to be in this study, you have the right to be treated with respect, including respect for your decision whether or not you wish to continue
    or stop being in the study. You are free to choose to stop being in the study at any time. <strong></strong>
</p>
<p>
    Choosing not to be in this study or to stop being in this study will not result in any penalty to you or loss of benefit to which you are entitled.
    Specifically, your choice not to be in this study will not negatively affect your right to any present or future medical treatment.
</p>
<p>
    <em> </em>
</p>
<p>
    If you want to speak with someone <u>who is not</u> directly involved in this research, or have questions about your rights as a research subject, please
    contact the Northwestern University Institutional Review Board (IRB) Office. You can call them at 312-503-9338.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong><u>What about my confidentiality and privacy rights?</u> </strong>
</p>
<p>
    We are committed to respect your privacy and to keep your personal information confidential. When choosing to take part in this study, you are giving us
    the permission to use your personal health information that includes information provided by you through online questionnaires, health information in your
    medical records and information that can identify you. For example, personal health information may include your name, address or phone number. Your health
    information we may collect and use for this research includes:
</p>
<ul>
    <li>
        Medical history
    </li>
</ul>
<p>
    · Lab tests, or certain health information indicating or relating to Influenza infection <u></u>
</p>
<p>
    <strong>The following groups of people may give the researchers information about you: </strong>
</p>
<p>
    · All current and previous health care providers, including but not limited to Northwestern Medical Faculty Foundation (NMFF), Northwestern Memorial
    Physicians Group (NMPG), Northwestern Memorial Hospital (NMH)
</p>
<p>
    Once we have the health information listed above, we may share some of this information with the following people. Please note that any research
    information shared with people outside of Northwestern University and its clinical partners (or affiliates) will not contain your name, address, telephone
    or social security number or any other direct personal identifier unless disclosure of the direct identifier is required by law [except that such
    information may be viewed by the Study sponsor and its partners or contractors at the Principal Investigators office]<strong>.</strong>
</p>
<p>
    Those persons who get your health information may not be required by Federal privacy laws (such as the Privacy Rule) to protect it. Some of those persons
    may be able to share your information with others without your separate permission.
</p>
<p>
    <strong><u>Genetic Information Nondiscrimination Act (GINA)</u></strong>
</p>
<p>
    There is a Federal law called the Genetic Information Nondiscrimination Act (GINA). This law makes it illegal for health insurance companies, group health
    plans, and most employers to discriminate against you based on your genetic information. However, it does not protect you against discrimination by
    companies that sell life insurance, disability insurance, or long-term care insurance.
</p>
<p>
    <strong><u>Certificate of Confidentiality</u></strong>
    <strong><u> </u></strong>
</p>
<p>
    We have a Certificate of Confidentiality from the federal government. A Certificate of Confidentiality helps protect the privacy of human research
    participants enrolled in studies that collect sensitive information. Certificates protect against legal demands, such as court orders and subpoenas, for
information that could identify you in this study. For additional information about Certificates of Confidentiality see    <a href="http://grants.nih.gov/grants/policy/coc/faqs.htm">http://grants.nih.gov/grants/policy/coc/faqs.htm</a>.<strong></strong>
</p>
<p>
    <strong>Please note that:</strong>
</p>
<p>
    · You do not have to sign this consent form. If you do not, it will not affect your treatment by health care providers, or the payment or enrollment in any
    health plans, or affect your eligibility for benefits. However, you will not be allowed to take part in this research study.
</p>
<p>
    · You may change your mind and “take back” (revoke) this consent at any time. Even if you revoke this consent, the Principal Investigator may still use or
    share health information that was obtained about you before you revoked your consent as needed for the purpose of this study. To revoke your consent for
    the use of your health information, you must do so in writing to:
</p>
<p>
    Steven Wolinsky, MD
</p>
<p>
    Division of Medicine-Infectious Diseases
</p>
<p>
    Northwestern University Feinberg School of Medicine
</p>
<p>
    645 N. Michigan Avenue, Suite 900
</p>
<p>
    Chicago, IL 60611
</p>
<ul>
    <li>
        Unless you revoke your consent, it will not expire.
    </li>
</ul>
<p>
    · If you “take back” (revoke) your consent to use any blood or tissue taken for the study, the Principal Investigator will make sure that these specimens
    are destroyed or will make sure that all information that could identify you is removed from these samples.
</p>
    </section>

    <section class="widget">


    <h4>Options</h4>
    You do not have to agree to participate in the optional choices below in order to participate in the main study.

      <div class="body">
        <%= form_for @consent, html: { class: 'form-horizontal' } do |f| %>
          <fieldset>
            <legend class="section">1. Please initial one of the following to indicate your choice:</legend>
            <div class="control-group">
              <%= label :consent, :may_save_info, 'I agree to have my de-identified information placed in a repository for any future research or shared with other researchers.' %>
              <div class="controls form-group">
                <div class="col-sm-2">
                  <%= f.text_field :may_save_info, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="control-group">
              <%= label :consent, :may_save_info, 'I do not agree to have my de-identified information placed in a repository for any future research or shared with other researchers.' %>
              <div class="controls form-group">
                <div class="col-sm-2">
                  <%= f.text_field :may_not_save_info, class: 'form-control' %>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend class="section">2. Please initial one of the following to indicate your choice:</legend>
            <div class="control-group">
              <%= label :consent, :may_be_contacted, 'I agree that someone from the research program may contact me about offers to take part in more research.' %>
              <div class="controls form-group">
                <div class="col-sm-2">
                  <%= f.text_field :may_be_contacted, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="control-group">
              <%= label :consent, :may_not_be_contacted, 'I do not agree that someone from the research program may contact me about offers to take part in more research.' %>
              <div class="controls form-group">
                <div class="col-sm-2">
                  <%= f.text_field :may_not_be_contacted, class: 'form-control' %>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend class="section">Consent Summary</legend>
            <div class="control-group">
              <%= label :consent, :has_read_consent, 'I have read this consent form and the research study has been explained to me. I have been given time to ask questions, and have been told whom to contact if I have more questions.  I agree to be in the research study described above and this is signified by checking the box below and typing my name in the space provided. I will print a copy of this consent form for my records after I complete this authorization. (A copy of the consent will be sent to your email)' %>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                  <%= f.check_box :has_read_consent %>
                  I have read this consent
                </label>
              </div>
              <div class="controls form-group">
                <div class="col-sm-4">
                  <%= f.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
                </div>
              </div>
            </div>
            If you do not wish to participate in this study, please select the Decline button, and your session will end. 
          </fieldset>

          <fieldset>
            <legend class="section">Additional Information</legend>
            <div class="control-group">
              <%= label :consent, :date_of_birth, class: 'control-label' %>
              <div class="controls form-group">
                <div class="col-sm-8">
                  <%= f.date_select :date_of_birth, class: 'form-control', end_year: Time.now.year, start_year: 1900 %>
                </div>
              </div>
            </div>
            <div class="control-group">
              <%= label :consent, :email, class: 'control-label' %>
              <div class="controls form-group">
                <div class="col-sm-8">
                  <%= f.email_field :email, class: 'form-control' %>
                </div>
              </div>
            </div>

            <div class="form-actions">
              <div>
                <%= f.button 'Submit Consent', type: 'submit', class: 'btn btn-primary' %>
                <%= link_to 'Decline', root_url, class: 'btn btn-default' %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </section>
  </div>
</div>
